html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.position-horizontal-center {
    text-align: center;
}

.position-vertical-center {
    vertical-align: middle;
}

.position-center {
    text-align: center;
    vertical-align: middle;
}

.position-left {
    text-align: left;
}

.position-left-center {
    text-align: left;
    vertical-align: middle;
}

.position-right {
    text-align: right;
}

.position-right-center {
    text-align: right;
    vertical-align: middle;
}

.container {

}